*{
    margin:0px;
    padding:0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main {
    display: flex;
    width: 100%;
    height: 100vh;    /* full height layout */
}
.profile{
    margin-top: 20px;
    height: 50px;
    width: 50px;
    overflow:hidden;
    border-radius:50%;
    /* border: 1px solid rgb(169, 169, 169); */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.20);

}
.profile_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile{
    margin-bottom: 5px;;
}
.profile img{
    width: 100%;
  
}

.msg-icon{
    padding-right:10px ;
    color:rgb(103, 103, 103);
}
.left_slide{
    width: 250px;
    background-color:rgb(242, 242, 242);
    /* height: 100vh; */
    border: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;

}
.name_list ul{
    list-style: none;
}
.name_list li{
    margin:20px;
    background-color:#ffffff;
    border-radius: 20px;
    padding: 15px 20px;
    box-sizing: border-box;
}
.right_side{
    flex:1;
    height:97%;
    /* background-color: rgb(186, 84, 84); */
}
.right_nav{
    width: 100%;
    height: 60px;
    padding: 20px;
    box-sizing: border-box;
    background-color:rgb(252, 252, 252);
    border-bottom:1px solid rgb(239, 239, 239);
}
.right_nav p{
    font-size: 25px;
    height:100% ;
    font-weight: bold;
}
.chat_div{
    display:flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
}
.msg_div{
    width: 100%;
}
.chat{
    padding: 10px 20px;
    margin:20px;
    min-width: 150px;
    max-width:200px;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;
    box-sizing: border-box;
}

.chat_right{
   float: right;
   display: flex;
   background-color: rgb(207, 255, 187);
}
.input_div{
    width:100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: rgb(243, 243, 243);
}
.btn{
    margin-left:10px;
    width: 30px;
    border: 1px;
    padding: 7px 15px;
    background-color:rgb(1, 120, 255);
    border-radius: 20px;
    color:white;
}
.input {
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.chat_container{
    flex:1;
    height:85%;
    overflow-y:auto ;
}
.input input{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    flex:1;
    padding:0px 20px;
    border-radius: 20px;
    border: 1px solid rgb(177, 177, 177);
    letter-spacing: 1px;
}
.btn:hover{
        background-color:rgb(54, 148, 255);
}