*{
    margin:0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main{ 
width:100vw;
height:100vh;
 background: rgb(63, 79, 233);
   display: flex;
   justify-content: center;
   align-items: center;
}
.heading{
    margin-bottom: 30px;
}
.form_div{
    height: 400px;
    width: 400px;
    background-color: white;
    padding:30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
input{
    padding: 15px;
    margin:10px;
    border-radius: 10px;
    border:1px solid rgb(205, 205, 205);
}
.btn{
     margin:10px;
     padding:15px;
     color:white;
     border-radius: 10px;
    background-color: rgb(82, 82, 171);
    cursor: pointer;
}