*{
    margin:0px;
    padding: 0px;
    background-color: rgb(240, 240, 240);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    margin:20px
}
.main h2{
    margin-bottom: 20px;
}
.card{
    height:100px;
    width:250px;
    padding:20px;
    margin: 10px;
    display:flex;
    background-color: white;
    flex-direction:column;
    border-radius: 20px;
}
.card h1{
    background-color: white;
    margin-bottom: 10px;
    color:blue;
}
.card p{
    background-color: white;
    color:rgb(161, 161, 161);
    margin-bottom: 10px;
}
.card_container{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;

}