*{
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav{
    height: 35px;
    background-color: #141921;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color:white;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cart img{
    height:25px;
    margin-right: 10px;
}
.search_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_btn{
    height:35px ;
    width: 30px;
    background-color: rgb(124, 124, 124);
    border:0px;
    cursor: pointer;
     border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:0px;
}
.search_btn:hover{
        background-color: rgb(199, 199, 199);

}
.search_btn img{
    width: 20px;
  
}
.search_div input{
    width: 100%;
    height:35px ;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:0px;
    padding-left:10px ;
}

.main_outer_div{
    width: 100%;
    /* background-color: rgb(231, 209, 252); */
}
.side_bar{
    background-color: white;
    width:300px;
    padding:30px;
    height: 100vh;
}
.side_bar_header{
    font-size: 25px;
    font-weight: 550;
}
.side_bar_list{
    list-style-type: none;
    
}
.main_outer_div{
    display: flex;
}
.side_bar_list li{
    margin:20px;
    color:rgb(82, 132, 141);

}
.side_bar_list li:hover{
    margin:20px;
    color:rgb(56, 90, 96);
    cursor: pointer;

}
.right_content{
    padding:20px;
    width: 100%;
    background-color: rgb(238, 240, 239);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   align-content:start;

}
.add_to_cart_btn{
    padding: 7px;
    background-color: rgb(222, 189, 1);
    border: none;
    font-weight: 600;
    border-radius: 5px;
    width: 100px;
}
.add_to_cart_btn:hover{
        background-color: rgb(196, 167, 2);
        cursor: pointer;

}
.container{
    width: 200px;
    height:240px;
    margin: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:8px;

}
@media screen and (max-width:480px){
   .container{
    width:80%;
    height:240px;
    margin: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:8px;

} 
.side_bar{
    display: none;
    list-style-type: none;
    
}
.search_div{
    display: none;
}

}
.container img{
    margin-bottom:20px;
    width: 70%;

}
.price{
    color:brown;
    margin: 6px;
}