* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20rem auto;
    grid-template-rows: 50px auto 80px;
    /* top | middle | bottom */

}

.left_sideBar_div {
    background-color: rgb(242, 242, 242);
    grid-area: span 3;
    grid-area: 1 / 1 / span 3 / 2;
    border-right: 1px solid rgb(212, 212, 212);
}
@media  (max-width:500px) {
    
.main {
   
    grid-template-columns: 10rem auto;
  
}
}
.top_navBar_div {
    background-color: rgb(250, 250, 250);
    align-content: center;
    border-right: 1px solid rgb(212, 212, 212);
}

.chat_body_div {
    overflow-y: auto;
    padding-top:2rem ;
}

.input_div {
    background-color: chartreuse;
    box-sizing: border-box;
    height: 80px;
    border: 1px solid rgb(212, 212, 212);
    background-color: rgb(242, 242, 242);

}

.profile_section {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    overflow: hidden;
    background-color: rgb(78, 51, 18);
}

.img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #ea3636;
    /* optional to see empty space */
}

.img img {
    height: 100%;
    width: 100%;
}

.profile_name {
    margin-top: 0.4rem;
    font-weight: bold;
}

.name_list {
    margin: 20px;
    list-style: none;

}

.name_list li {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 2rem;
    box-sizing: border-box;
    border: 1px solid rgb(252, 252, 252);

}

.name_list li:hover {
    background-color: rgb(237, 237, 237);
    border: 1px solid rgb(212, 212, 212);

}

.top_nav_head {
    padding-left: 2rem;
    font-weight: bold;
}
.input_div{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.send_button{
    padding:0.8rem;
    padding-left:1rem ;
    padding-right: 1rem;
    background-color:rgb(1, 120, 255);
    border-radius:2rem;
    cursor: pointer;
    color:white;
}
.send_button:hover{
    background-color:rgb(51, 146, 255);
}
input{
    width:80%; 
    height: 3.4rem;
    margin-right: 2rem;
    border-radius: 20rem;
    border: 1px solid rgb(226, 226, 226);
    padding-left:1rem ;
    letter-spacing: 1px;
    font-size: 24px;
}

.chat{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;

}
.outgoing{
    justify-content: right;
}
.incomming p{
    display: inline;
    max-width:40rem;
    background-color: rgb(240, 240, 240);
    padding: 1rem;
    border-radius: 1.5rem;
}
.outgoing p{
    max-width:40rem;
    background-color: rgb(209, 241, 255)
;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1.5rem;
}