*{
    margin:0px;
    padding: 0px;
}
.parent{
    background-color: black;
}
.box{
    background-color: #aaa;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 1px;
   transition:background-color 0.3s ease-in;
}